<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <form th:action="@{/members/update/{name}(name=${member.name})}" method="post">
        <div class="form-group">
            <tr>
                <td th:text="${member.name}"></td>
            </tr>
            <label for="age">나이</label>
            <input type="text" id="age" name="age" placeholder="변경할 나이를 입력하세요">
        </div>
        <button type="submit">변경</button>
    </form>
    <p th:if="${message != null}">
        <span th:text="${message}"></span>
    </p>
</div> <!-- /container -->
</body>
</html>