<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <form action="/member/removeName" method="post">
        <div class="form-group">
            <label for="name">이름</label>
            <input type="text" id="name" name="name" placeholder="삭제할 이름을 입력하세요">
            <input type="hidden" name="_method" value="delete">
        </div>
        <button type="submit">삭제</button>
    </form>
    <p th:if="${message != null}">
        <span th:text="${message}"></span>
    </p>
</div> <!-- /container -->
</body>
</html>